<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>{{tittle}}</h2>
    </div>
</div>
<div class="row animated fadeInRight">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center" style="background-color:white;">
            <div class="m-b-md">
                <div class="widget lazur-bg p-xl" style="text-align:left;">
                    <div id="profile-container" class="">
                        <image id="profileImage" src="img/superHeroy.jpg" class="img-circle circle-border m-b-md"/>
                        <input id="imageUpload" type="file"  name="profile_photo" placeholder="Photo" required="" capture>
                    </div><label class="col-lg-1 control-label"></label><div class="col-lg-1"></div>
                    <div class="" style="margin-top:2vh;">
                           
                    </div>                  
                   
                    <h3>
                        {{crianca.nome}}
                    </h3>
                    <ul class="list-unstyled m-t-md">                       
                        <li>
                            <span class="fa fa-home m-r-xs"></span>
                            <label>Morada:</label>
                           {{crianca.morada}}
                        </li>  
                        <li>
                            <span class="fa fa-home m-r-xs"></span>
                            <label>Sexo:</label>
                           {{crianca.sexo}}
                        </li>
                        <li>
                            <span class="fa fa-phone m-r-xs"></span>
                            <label>Nº PMI:</label>
                           {{crianca.numeroPMI}}
                        </li> 
                        <li>
                            <span class="fa fa-phone m-r-xs"></span>
                            <label>Aniversário:</label>
                           {{crianca.dataNascimento}}
                        </li>
                        <li>
                            <span class="fa fa-phone m-r-xs"></span>
                            <label>Propina:</label>
                           {{crianca.propina}}$00
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading">Alex Smith</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="text-right">
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="m-b-md">
                                   
                                    <h2>Relátorios da Criança</h2>
                                </div>
                                <div>
                                    <span>Pagamentos 10</span> |
                                    <span>Dividas 3</span> |
                                    <span>Estado Matriculado</span>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="row m-t-sm">
                            <div class="col-lg-12">
                                <div class="panel blank-panel">
                                    <div class="panel-heading">
                                        <div class="panel-options">
                                            <ul class="nav nav-tabs">                                           
                                                <li class="active"><a data-toggle="tab" ng-click='paisEncarregadosEducacao()'>Pais Encarregados de Educação</a></li>
                                                <li class=""><a data-toggle="tab" ng-click='dadosEstatisticos()' >Dados Estatísticos</a></li>
                                                <li class=""><a data-toggle="tab" ng-click='casoUrgencia()' >Informações em caso de Urgência</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-1">
                                                <div ng-show="Table=='paisEncarregadosEducacao'">
                                                    <div ng-include="'partials/criancas/paisEncarregadosEducacao.html'"></div>
                                              
                                                </div>
                                                <div ng-show="Table=='dadosEstatisticos'">
                                                    <div ng-include="'partials/criancas/dadosEstatisticos.html'"></div>
                                              
                                                </div>
                                                <div ng-show="Table=='casoUrgencia'">
                                                    <div ng-include="'partials/criancas/casoUrgencia.html'"></div>
                                              
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>