<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h4>{{tittle}}</h4>
        <ol class="breadcrumb" style="text-align: right;">
            <li>
                <div class="text-center">
			        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegistarCrianca" ng-click="botaoRegistarCrianca()">
			            Registar Criança
			        </button>
    			</div>
            </li>
           <!-- <li class="active">
                <strong>Breadcrumb</strong>
            </li>-->
        </ol>
    </div>
    
</div>

<!-- Table applay Criancas -->

<div class="row" style="margin-top:2vh;">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
	        <div class="ibox-title">
	            <h5>Lista de Todas as Crianças</h5>
	            <div class="ibox-tools">
	                
	            </div>
	        </div>
	        <div class="ibox-content">
                <div class="row m-b-sm m-t-sm">
                    <div class="col-md-1">
                        <button type="button" id="loading-example-btn" class="btn btn-primary"><i class="fa fa-refresh"></i> Actualizar</button>
                    </div>
                    <div class="col-md-1">
                       
                    </div>
                    <div class="col-md-10">
                        <div class="input-group"><input type="text" placeholder="Pesquisar" class="input-sm form-control"  ng-model="pesquisar"> <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary">Pesquisar!</button> </span></div>
                    </div>
                </div>
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Perfil</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Alcunha </th>
                        <th>Propina</th>
                        <th>Nº PMI</th>
                        <th>Morada</th>
                        <th style="text-align:center;">Monitorizar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="crianca in criancas | filter : pesquisar">
                        <td><a href="#" class="pull-left">
                            </a><small><img alt="image" class="img-circle" src="img/a1.jpg" style="width:2vw; height= 10vh;"></small></td>
                        <td>{{crianca.nome}}</small></td>
                        <td>{{crianca.sexo}}</td>
                        <td>{{crianca.alcunha}}</td>
                        <td>{{crianca.propina}}$00</td>
                        <td>{{crianca.numeroPMI}}</td>
                        <td>{{crianca.morada}}</td>
                        <td style="text-align:center;"> 
                            <a href="#/criancas-details/{{crianca.idCrianca}}"><button type="button" class="btn btn-white btn-sm" style="color:green;"><i class="fa fa-eye"></i>Ver</button></a>
                            <button type="button" class="btn btn-white btn-sm" style="color:blue;" ng-click="editar(crianca)" data-toggle="modal" data-target="#modalRegistarCrianca"><i class="fa fa-pencil"></i>Editar</button>
                            <button type="button" class="btn btn-white btn-sm" style="color:red;" ng-click="eliminarCrianca(crianca.idCrianca)" data-toggle="modal" data-target="#myModalEliminar"><i class="fa fa-times"></i>Eliminar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        </div>
        </div>

        </div>
          
<!-- Form Create and Edit Criancas -->
<div class="modal inmodal fade" id="modalRegistarCrianca" tabindex="-1" role="dialog"  aria-hidden="true" style="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{popupTittle}}</h4>
            </div>
            <div class="modal-body" style="background-color:#fff;">
                <div class="modal-content">
                    <div class="ibox-title" style="background-color:#9bb97f; color:white;">
                        <h5>Dados da Criança</h5>
                    </div>
             	
                    <form class="form-horizontal" id="form_crianca" name="form_crianca">
                        <div class="form-group">
                            <div class="col-lg-9">
                               
                            </div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label"></label>
                            <label class="col-lg-2 control-label"></label><div class="col-lg-1"></div>
                            <div id="profile-container" class="">
                                <image id="profileImage" src="img/superHeroy.jpg" />
                                <input id="imageUpload" type="file"  name="profile_photo" placeholder="Photo" required="" capture>  
                            </div><label class="col-lg-1 control-label"></label><div class="col-lg-1"></div>
                        </div>
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Nome</label>
                            <div class="col-lg-9">
                            	<input type="text" placeholder="Nome" class="form-control" ng-model="crianca.nome" ng-required="true"> 
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Data Nascimento</label>
                            <div class="col-lg-9"><input type="date" class="form-control" placeholder="Data Nascimento" ng-model="crianca.dataNascimento" id="criancadataNascimento" ng-required="true"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Sexo</label>
                            <div class="col-lg-9">
	                            <select class="chosen-select" style="width:350px; height:30px;" tabindex="2" ng-model="crianca.sexo" ng-required="true">
					                <option value=""></option>
					                <option value="Masculino">Masculino</option>
					                <option value="Feminino">Feminino</option>
					            </select>
					        </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Alcunha</label>
                            <div class="col-lg-9"><input type="text" placeholder="Alcunha" class="form-control" ng-model="crianca.alcunha"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Nº PMI</label>
                            <div class="col-lg-9"><input type="text" placeholder="Nº PMI" class="form-control" ng-model="crianca.numeroPMI"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Morada</label>
                            <div class="col-lg-9">
                                <select  class="chosen-select" style="width:350px; height:30px;" tabindex="2" ng-model="crianca.morada"  ng-required='true' ng-options='localidade for localidade in localidades'>
                                  
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Idade</label>
                            <div class="col-lg-9"><input type="number" placeholder="Idade" readonly="" class="form-control" ng-model="crianca.idade"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Periodo</label>
                            <div class="col-lg-9">
                                <label class="col-lg-2 control-label">Manhã</label><div class="col-lg-1"><input type="checkbox" ng-model="crianca.periodoManha"></div>
                                <label class="col-lg-1 control-label">Tarde</label><div class="col-lg-1"><input type="checkbox"ng-model="crianca.periodoTarde"></div>
                                <label class="col-lg-2 control-label">Todo o dia</label><div class="col-lg-1"><input type="checkbox" ng-model="crianca.diaInteiro"></div>
                            </div>
                        </div> 
                        <div class="form-group"><label class="col-lg-2 control-label">Propina</label>
                            <div class="col-lg-9"><input type="number" placeholder="Propina" class="form-control" ng-model="crianca.propina" ng-required="true"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Lingua Estrang.</label>
                            <div class="col-lg-9">
                                <label class="col-lg-2 control-label">Francês</label><div class="col-lg-1"><input type="checkbox" ng-model="crianca.linguaFrancesa"></div>
                                <label class="col-lg-1 control-label">Inglês</label><div class="col-lg-1"><input type="checkbox" ng-model="crianca.linguaInglesa"></div>
                                <label class="col-lg-2 control-label">Almoço</label><div class="col-lg-2"><input type="number"   ng-model="crianca.almoco" value=""></div>
                           </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Data Inicio</label>
                            <div class="col-lg-9"><input type="date" class="form-control" placeholder="data Inicio Jardim" ng-model="crianca.dataInicioJardim" ng-required="true"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Estado</label>
                            <div class="col-lg-9">
                                <select class="chosen-select" style="width:350px; height:30px;" tabindex="2" ng-model="crianca.estado" ng-required="true">
                                    <option value=""></option>
                                    <option value="Matriculado">Matriculado</option>
                                    <option value="Desistiu">Desistiu</option>
                                    <option value="Escola">Suspenso</option>
                                    <option value="Escola">Escola</option>
					            </select>
                            </div>
                        </div> 
                        <div class="ibox-title" style="">
                           
                        </div>
                      
                        <div class="ibox-title" style="background-color:#2f4050; color:white;">
                            <h5>Dados do Pai</h5>
                        </div>
                        <div class="ibox-title" style="">
                           
                        </div>
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Nome do Pai</label>
                            <div class="col-lg-9"><input type="text" placeholder="Nome do Pai" class="form-control" ng-model="crianca.nomePai"></div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Profissão do Pai</label>
                            <div class="col-lg-9"><input type="text" placeholder="Profissão do Pai" class="form-control" ng-model="crianca.profissaoPai"></div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Telefone</label>
                            <div class="col-lg-9"><input type="text" placeholder="Telefone" class="form-control" ng-model="crianca.telefonePai"></div>
                        </div>
                         <div class="form-group"><label class="col-lg-2 control-label">Movel</label>
                            <div class="col-lg-9"><input type="text" placeholder="Movel" class="form-control" ng-model="crianca.movelPai"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Morada</label>
                            <div class="col-lg-9"><input type="text" placeholder="Nome Mãe" class="form-control" ng-model="crianca.moradaPai"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Alcunha</label>
                            <div class="col-lg-9"><input type="text" placeholder="Alcunha" class="form-control" ng-model="crianca.alcunhaPai"></div>
                        </div>
                        <div class="ibox-title" style="">
                               
                        </div>
                        <div class="ibox-title" style="background-color:#ab3436; color:white;">
                            <h5>Dados da Mãe</h5>
                        </div>
                        <div class="ibox-title" style="">
                           
                        </div>
                            
                        <div class="form-group"><label class="col-lg-2 control-label">Nome da Mãe</label>
                            <div class="col-lg-9"><input type="text" placeholder="Nome da Mãe" class="form-control" ng-model="crianca.nomeMae"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Profissão da Mãe</label>
                            <div class="col-lg-9"><input type="text" placeholder="Profissão da Mãe" class="form-control" ng-model="crianca.profissaoMae"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Telefone</label>
                            <div class="col-lg-9"><input type="text" placeholder="Telefone" class="form-control" ng-model="crianca.telefoneMae"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Movel</label>
                            <div class="col-lg-9"><input type="text" placeholder="Movel" class="form-control" ng-model="crianca.movelMae"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Morada</label>
                            <div class="col-lg-9"><input type="text" placeholder="Morada" class="form-control" ng-model="crianca.moradaMae"></div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Alcunha</label>
                            <div class="col-lg-9"><input type="text" placeholder="Alcunha" class="form-control" ng-model="crianca.alcunhaMae"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="cancelarCrianca()">Cancelar</button>
                            <button type="button" class="btn btn-primary" ng-click="criarCrianca(crianca)" ng-show="sizeCrianca.length==0" ng-disabled="form_crianca.$invalid">Registar</button>
                            <button type="button" class="btn btn-primary" ng-click="editarCrianca(crianca)" ng-show="sizeCrianca.length>0" >Editar</button>
                            <button type="button" class="btn btn-danger"  ng-click="eliminarCrianca(crianca.idCrianca)" ng-show="sizeCrianca.length>0" data-toggle="modal" data-target="#myModalEliminar"><span>Eliminar</span></button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModalEliminar" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:25vh;">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
               <h4>Eliminar Criança</h4>
            </div>
            <div class="modal-body">
                Desejas eliminar a Criança?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" ng-click="confirmar()">Sim</button>
            </div>
        </div>
    </div>
</div>



